*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.topnav{
    width: 100%;
    padding: 0px 10%;
}
.headernav{
    background-color: rgb(209, 157, 157);
    padding: 0px 10%;
} 
.headernav .m-auto{
    font-size: 1.2rem;
    font-weight: 500;
}
.headernav #link{
    text-decoration: none;
    color: rgb(56, 52, 52);
}
.headernav #link:hover{
    border-bottom: 2px solid black;
    color: black;
}

.navbr .title{
    color: rgb(160, 8, 8);
    font-size: 2rem;
    font-weight: 600;
    font-family: "Rubik", sans-serif;
}

.mov{
    width: 100%;
    overflow: hidden;
}
.movetext{
    width: 100%;
    animation: RightToLeft 10s infinite linear;
   padding-top: 20px;
    width: 100%;
  white-space: pre;
  

}
@keyframes RightToLeft {
    from{
        transform:  translateX(0%);
    }
    to {
        transform:  translateX(-50%);
    }
}
.toptxt {
    width: 100%;
    margin-top: 20px;
}
.toptxt span{
    color: rgb(215, 21, 21);
}
.home{
  width: 100%;
  padding: 0px 10%;
}
.card{
    margin: 20px;
    text-align: center;
    align-items: center;

}
.card .video{
    width: 100%;
    margin-top: 2rem;
    align-items: center;
    justify-content: center;
    text-align: center;display: flex;
}
.cardtext{
    font-size: 20px;
    font-weight: 500;
}
.content{
    width: 100%;
    
}

.content span{
    color: rgb(215, 21, 21);
}

.foot{
    margin-top: 20px;
}
.footcontent .h6{
  color: rgb(179, 30, 30);
}
.endtxt a{
    color: rgb(179, 30, 30);
    text-decoration: none;
}




@media(max-width: 990px){
    .card .video{
        width: 68%;
       
        margin-top: 2rem;
    }
}

@media(max-width: 750px){
    .card .video{
        width: 90%;
       
        margin-top: 2rem;
    }
}
